[submodule "documentation"]
	path = documentation
	url = https://github.com/machinam4/epms_documentation.git
[submodule "server"]
	path = server
	url = https://github.com/machinam4/epms_server.git
[submodule "epms_agent_client"]
	path = epms_agent_client
	url = https://github.com/emanuelimaiki/epms_agent_client.git
